@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting;

@inject IConfiguration Configuration
@inject IHostingEnvironment Hosting


@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Markdown Demo ASP.NET Core - Charles L Flatt</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:200,300" rel="stylesheet">
  <link href="~/css/site.css" rel="stylesheet" />
  <link href="~/css/html-preview.css" rel="stylesheet" />
</head>
<body>

  <header>
    <h1>Markdown Demo</h1>
    <span>Application is running in the @Hosting.EnvironmentName environment.</span> 
  </header>

  <nav>
    <a href="~/staticus">Staticus (dumb static file)</a>
  </nav>

  <section id="markdown-editor">
    <textarea id="markdown">
# About
This is a simplistic demo using ASP.NET Core. As Markdown is entered, it is sent to
a WebApi that converts the Markdown to HTML, which is returned and displayed.

# Techniques
Several techniques are explored in the source code, even if not shown in the project.

# Other Markdown Examples
## Heading 2
Each heading is styled, of course.

### Heading 3
Bullets and Numbering work. The textarea's Tab keydown is overriden to stay within the textarea.
*   I found sample code for overriding the tab key. I don't feel bad about that.
    *   (I could have figure it out. I've dealt with key presses since Visual Basic 5)
*   Call me old-fashioned, but I like building software this way:
    1.  Worry about functionality first
    2.  Get the simplest foundations working
    3.  Build on the foundations, expecting significant refactoring and changes

That's simple enough[^1].

[^1]: And not old-fashioned at all.

#### Heading 4
Why do I insist on using Git? Because I've used version control since Visual SourceSafe. 
Git has its problems, but having used it's branch-merge model I never want to go back to 
centralized systems.

    </textarea>
  </section>

  <section id="html-preview"></section>

  <footer class="clear">
    Copyright &copy; Charles L Flatt
  </footer>

</body>
</html>

<script>

  (function main() {

    setMarkdownTextAreaToUseTabs();
    setMarkdownTextAreaToShowPreview();
    showHtml();

    function setMarkdownTextAreaToShowPreview() {
      var textArea = document.getElementById("markdown");
      textArea.onkeyup = showHtml;
    }

    //https://stackoverflow.com/a/14166052/1628707
    function setMarkdownTextAreaToUseTabs() {
      var textArea = document.getElementById("markdown");
      textArea.onkeydown = function (e) {
        if (e.keyCode == 9 || e.which == 9) {
          e.preventDefault();
          var s = this.selectionStart;
          var sub = "\t";
          this.value = this.value.substring(0, this.selectionStart) + sub + this.value.substring(this.selectionEnd);
          this.selectionEnd = s + sub.length;
        }
      }
    }

    function showHtml() {
      var xhttp = new XMLHttpRequest()
      //set url from appsettings.[Environment].json (or wherever config comes from)
      xhttp.open("POST", "@Configuration["WebApiUrl"]", false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      var markdown = document.getElementById("markdown").value;
      xhttp.send("markdown=" + markdown);
      var preview = document.getElementById("html-preview");
      preview.innerHTML = xhttp.responseText;
    }

  })();

</script>