body {
    font-family: 'Fira Mono', monospace;
    tab-size: 4;
}

#markdown-editor, #html-preview {
    float: left;
    margin-top: 15px;
    width: 93%;
    border: solid 1px gray;
    height: 400px;
    padding: 10px;
}

    #markdown-editor textarea {
        width: 99%;
        height: 99%;
        border: none;
        outline: none;
        resize: none;
    }

#html-preview {
    overflow: auto;
}

footer {
    padding-top: 15px;
}

.clear {
    clear: both;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    #markdown-editor, #html-preview {
        width: 45%;
    }
}